@font-face {
    font-family: 'Always in the Star';
    src: url('fonts/AlwaysintheStar.woff2') format('woff2'),
        url('fonts/AlwaysintheStar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    display: flex;
}

.image-and-logo-container {
    width: 25%;
    height: 100vh;
    background-image: url(images/background-bridge.avif);
}

.container {
    width: 75%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    min-height: 70%;
}

.text {
    width: 70%;

}

.margin-l {
    margin-left: 2.5rem;
}
form{
    background: #fff;
}
fieldset{
    margin:0;
    padding: 0;
    border: none;
    
}

.container{
    background: rgb(242, 242, 242);
}