@font-face {
    font-family: 'Always in the Star';
    src: url('fonts/AlwaysintheStar.woff2') format('woff2'),
        url('fonts/AlwaysintheStar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

.image-and-logo-container {
    width: 25%;
    height: 100vh;
    background-image: url(images/background-bridge.avif);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.logo-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 12rem;
    background: rgba(0, 0, 0, 0.37);
    width: 100%;
    color: #fff;
}

.logo-container img {
    max-width: 125px;
    max-height: 125px;
}

.logo-container h1 {
    font-family: "Always in the Star";
    font-size: 3.5rem;
}

.copyright {
    margin-top: auto;
    margin-bottom: 15px;
}

.copyright * {
    color: #ffffffc3;
    font-size: 0.8rem;
}

.container {
    width: 75%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    min-height: 70%;
}

.text {
    width: 50%;
    margin-bottom: 5rem !important;
}

.margin-l {
    margin-left: 2.5rem;
}

.form-container>div h1 {
    margin-bottom: 2.5rem;
    font-size: 1.4rem;
}


fieldset {
    background: #fff;
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 1px;
    box-shadow: 0 5px 10px 1px #0000001f;
}

label,
input {
    display: flex;
    flex-direction: column;
}

.container {
    background: rgb(242, 242, 242);
}

fieldset div {
    display: flex;
    gap: 75px;
}

fieldset > h2{
    font-weight: 500;
    color: rgba(26, 26, 26, 0.909);
    margin-bottom: 30px;
}

.submit-container {
    display: flex;
    flex-direction: column;
    margin-top: 1.7rem;
}

.submit-btn {
    max-width: 200px;
    padding: 10px 30px 10px 30px;
    border-radius: 7px;
    border: none;
    background-color: rgba(48, 75, 25, 0.75);
    color: #fff;
    box-shadow: 0 0 10px #00000054;
}

.submit-container span {
    margin-top: 1.7rem;
}

input,label{
    display: block;
}
input {
    outline:none;
    border: 1px solid #E5E7EB;
    border-radius: 5px;          
    padding: 2px;    
    height: 30px;
    width: 200px;
}

input:focus {
    border-color: rgba(19, 81, 250, 0.88) !important;
    box-shadow: 0.01rem 0.01rem 2px rgba(50, 102, 247, 0.88);         
}
input:user-invalid{
    border-color: red;
}

.submit-btn:hover {
    cursor: pointer;
}

fieldset div{
    display: inline;
}

.flex{
    display:flex;
}

label{
    font-size: 13px;
    font-weight: 600;
    color: rgb(53, 52, 52);
}
.submit-container a{
    text-decoration: none;
    color: rgba(48, 75, 25, 0.842);
    font-weight: 700;
}

.submit-container > span{
    font-weight: 500;
}