@font-face {
    font-family: 'Always in the Star';
    src: url('fonts/AlwaysintheStar.woff2') format('woff2'),
        url('fonts/AlwaysintheStar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
